/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.container {
  width: 25rem;
  border: 2px solid grey;
  height: auto;
  padding: 1rem 0;
}

.lista {
  width: 100%;
  border: 1px solid gainsboro;
  padding: 0.5rem 2rem;
  color: rgb(160, 152, 152);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.total-tareas {
  color: rgb(139, 134, 134);
  margin-top: 1rem;
}
